.container-sidebar {
  height: 100vh;
  width: 100%;
}

.container-sidebar .sidebar-item {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.container-sidebar .sidebar-item p{
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
}

.container-sidebar .img-sidebar {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.email-input-sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-input-sidebar input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.email-input-sidebar button {
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.email-input-sidebar button:hover {
  background-color: #333;
}
