.container-about {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
}

.container-about article {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
}

.container-about article-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
}

.container-about .image-article {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
  margin-top: 0;
}

.container-about .article-parrafo {
  text-align: justify;
  font-size: 16px;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  line-height: 28px;
  overflow: hidden;
  display: -webkit-box;
}

.button-volver-home {
  margin-top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #ff8906;
  width: 125px;
  height: 40px;
  cursor: pointer;
  border-radius: 0 0 10px 0;
  border: none;
  box-shadow: 0 6px 12px var(--button-box-shadow-color);
  font-family: var(--font-type);
  font-size: 16px;
  color: white;
}

svg {
  margin: 0 0 0 25px;
}

.button-volver-home:hover svg {
  margin: 0 0 0 60px;
  transition: 0.5s;
}

.button-volver-home:not(:hover) svg {
  transition: 0.5s;
}

.button-volver-home:active {
  transform: scale(0.9);
  transition: transform 200ms;
}

.footer {
  height: 40px;
}
