.write {
  margin: 60px auto 10px auto;
  height: 100%;
  width: 60%;
  text-align: center;
  overflow: hidden;
}

section img {
  width: 100%;
  height: 400px;
  margin: 6px auto;
  border-radius: 5px;
}

.writeFormFile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  border-radius: 5px;
  flex-wrap: wrap;
  box-shadow: 0px 10px 25px #7e88b741;
  border-radius: 10px;
  opacity: 1;
}

.writeIcon {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 1px solid #595a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.writeIcon:hover {
  background-color: black;
  color: white;
}

.writeFormFile h2 {
  color: #595a5a;
}

.writeForm {
  width: 80%;
  margin: 6px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.title-select {
  display: flex;
  justify-content: space-between;
}

.title-select select {
  width: 40%;
  padding: 8px;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0px 10px 25px #7e88b741;
  border-radius: 10px;
  opacity: 1;
  background-color: white;
  cursor: pointer;
}

.title-select .input-title {
  width: 50%;
}

.writeForm input,
textarea {
  padding: 8px;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0px 10px 25px #7e88b741;
  border-radius: 10px;
  opacity: 1;
}

.writeForm descripcion {
  height: 150px;
}

.markdown {
  height: 190px;
}

.writeForm input[type="submit"] {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 13px;
  border-radius: 0 0 10px 0;
}

.writeForm input[type="submit"]:hover {
  background-color: rgb(49, 48, 48);
}
