
.container-article{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-article article {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container-article-span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b39656;
  padding-left: 30px;
  padding-right: 30px;
}
.container-article article-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
}

.container-article .image-article {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
  margin-top: 0;
}
.article-date {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}
.container-article p {
  text-align: justify;
  font-size: 16px;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  line-height: 28px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
