.container-article {
  margin-top: 3%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 4fr 1fr;
  height: 100%;
  position: relative;
}

.aside-article-detail {
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  border-radius: 5px;

  position: fixed; 
  top: 18%;
  left: 85%;
  width: 10%;
}

.main {
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
}

.container-article {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.container-article article {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container-article-span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b39656;
  padding-left: 30px;
  padding-right: 30px;
}
.container-article article-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
}

.container-article .image-article {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
  margin-top: 0;
}
.article-date {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

#mi-contenedor h3 {
  margin-top: 30px;
}

.container-article p {
  text-align: justify;
  font-size: 16px;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  line-height: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.button-volver {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgb(7, 83, 48);
  width: 125px;
  height: 40px;
  cursor: pointer;
  border-radius: 0 0 10px 0;
  border: none;
  box-shadow: 0 6px 12px var(--button-box-shadow-color);
  font-family: var(--font-type);
  font-size: 16px;
  color: white;
}

svg {
  margin: 0 0 0 25px;
}

button:hover svg {
  margin: 0 0 0 60px;
  transition: 0.5s;
}

button:not(:hover) svg {
  transition: 0.5s;
}

button:active {
  transform: scale(0.9);
  transition: transform 200ms;
}

.footer {
  height: 40px;
}
