.container-resources {
  margin-top: 3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid-resources {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 18vh 8vh auto;
  margin-top: 5%;
  gap: 5px;
}

.title-resources {
  grid-row: 1;
  height: 100%;

  display: flex;
  justify-content: center;
  font-size: 32px;
}

.categories {
  grid-row: 2;
  height: 100%;
}

.cards-resources {
  grid-row: 3;
  height: 100%;
  width: 100%;
}

.sidebar-resources {
  grid-row: 1 / span 4;
  height: 100%;
  position: fixed;
  top: 19%;
  left: 80%;
  width: 20%;
  overflow-y: auto;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sidebar-resources {
    display: none;
  }
}

@media (max-width: 768px) {
  .grid-resources {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .title-resources {
    grid-row: 1;
    display: flex;
    justify-content: start;
    font-size: 23px;
  }

  .categories {
    grid-row: 3;
  }

  .cards-resources {
    grid-row: 5;
  }

  .sidebar-resources {
    display: none;
  }
}
