
.container-posts{
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.posts {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(305px, 1fr));
  gap: 40px;
}

.pagination{
  width: 90%;
  height: 200px;
}