
.container-posts {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 10%;
  align-items: center;
  justify-items: center;
  gap: 12px;
}

.posts {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  gap: 40px;
}

.pagination {
  width: 90%;
}