.container-resources {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.resources-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(295px, 1fr));
  gap: 35px;
}

.container-loader-resources{
  width: 100%;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px){
  
  .resources-grid{
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}