.container-filters {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  width: 30%;
  display: flex;
  align-items: center;
  position: relative;
}

.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.container-filters .category button{
  background-color: black;
  cursor: pointer;
  border: none;
  font-size: 14px;
  padding: 4px 14px;
  color: white;
  transition: background-color 0.5s, color 0.5s;
  border-radius: 10px;
}

.container-filters .category button:hover{
  background-color: transparent;
  color: black;
}

.nada{
  width: 19%;
}

.search-container input {
  width: 400px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.search-container button {
  position: absolute;
  top: 2;
  right: 12px;
  padding: 10px 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #333;
}