.top-container {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 990;
  background-color: white;
}

.networks-containers,
.top-center-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.networks-containers {
  padding-left: 64px;
}

.networks-containers li {
  font-size: 20px;
  cursor: pointer;
}
.top-center-list li {
  font-size: 22px;
  cursor: pointer;
}

li {
  text-decoration: none;
  list-style: none;
}

.top-right {
  display: flex;
  padding-right: 40px;
  gap: 20px;
}

.top-right .top-list-item {
  padding: 5px;
  font-size: 20px;
  border: solid 1px black;
  cursor: pointer;
  background-color: white;
}

.top-right .top-list-item:hover{
  background-color: rgb(242, 236, 236);
}

.top-right .nav-open {
  border: solid 1px white;
}

.icon-user{
  width: 33px;
  border-radius: 100%;
  cursor: pointer;
}

/* Dispositivos móviles */
.top-movil {
  display: none;
}

a {
  text-decoration: none;
  list-style: none;
}

h2 {
  font-size: 30px;
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(0, 6px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(0, -6px);
}

.hamburger-cruz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-cruz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-cruz span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.hamburger-cruz span:nth-child(1) {
  transform: rotate(45deg) translate(0, 0);
}

.hamburger-cruz span:nth-child(2) {
  transform: rotate(-45deg) translate(0, 0);
}

.top-container-mobil {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  background-color: black;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.top-container-mobil.open {
  opacity: 1;
}

.top-container-mobil .info {
  display: flex;
  justify-content: center;
  gap: 33%;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 6px;
}

.top-container-mobil .info button {
  margin-left: 80%;
  position: absolute;
}

/* Media dispositivos móviles */
@media (max-width: 767px) {
  .top-container {
    display: none;
  }
  .top-movil {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
  }
  .top-movil button {
    margin-left: 80%;
    position: absolute;
  }
  .top-container-mobil {
    display: flex;
    flex-direction: column;
  }
  .top-center-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
    margin-top: 50px;
  }
  .networks-containers {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 150px;
  }
  .top-right {
    margin-top: 30px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.962);
  z-index: 9999;
  overflow: hidden;
}

.modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
}

.modal .modal-close {
  position: absolute;
  top: 80px;
  left: 80px;
  cursor: pointer;
  border-radius: 8px;
}
